@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proxima Nova";
  src: url("/assets/fonts/Proxima-Nova.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

*/ body {
  font-family: "Proxima Nova", sans-serif;
}
